body {
    #injectedApp {
        z-index: 1000;
        //position: fixed;
        //top: 0;
        //left: 20px;
    }
}

.root {
    .mhy-rocket {
        bottom: 10px;
        right: 0;
    }
}

.mhy-layout {
    width: 100%;

    .mhy-layout__main {
        width: 90%;
    }

    .mhy-layout__sub {
        visibility: hidden;
    }

    .mhy-article-actions {
        left: 35%;
    }
}